@media (prefers-color-scheme: dark) {
    body,
    .minidiv .sfbg,
    .aCOpRe em,
    .jZWadf,
    .ndYZfc,
    .s8GCU,
    .Lj9fsd,
    .O3JH7,
    .MGqjK,
    .JolIg,
    .GmE3X,
    .IsZvec,
    .appbar,
    .sfbg,
    .yg51vc,
    .F9PbJd,
    .kp-blk {
        background: #37393f;
        color: #eaeaea;
    }
    cite {
        color: #c9c9c9;
    }
    .k8XOCe,
    .s75CSd {
        background: #5e6168;
        color: #eaeaea;
    }
    .MXl0lf {
        background: #eaeaea;
    }
    a,
    .WpKAof,
    .WGvvNb {
        color: #7982fd;
    }
    .KFFQ0c .YfftMc,
    .KFFQ0c .YfftMc span,
    .KFFQ0c .YfftMc div,
    .KFFQ0c .YfftMc a {
        color: #a7a7a7;
    }
}