@media (prefers-color-scheme: dark) {
    .pagetop a:visited {
        color: #eaeaea;
    }
    .pagetop {
        color: #eaeaea;
    }
    form {
        color: #eaeaea;
    }
    body {
        background: #37393f;
    }
    td {
        background: #37393f;
    }
    tr {
        background: #37393f;
    }
    .comment {
        color: #eaeaea;
    }
    .commtext {
        color: #eaeaea;
    }
    a:link {
        color: #eaeaea;
        text-decoration: none;
    }
    a:visited {
        color: #9e9e9e;
        text-decoration: none;
    }
    #pagespace {
        display: block;
        background-color: #37393f;
    }
    .c00,
    .c00 a:link {
        color: #eaeaea;
    }
    .comhead,
    .comhead a:link {
        color: #9e9e9e;
    }
    textarea {
        background: #cfcfcf;
    }
}

textarea {
    height: 4em;
}